.input_number_of_serving::-webkit-inner-spin-button,
.input_number_of_serving::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}



.div_number_of_serving {
    width: 17.333333%;
}

.recipe_main_window {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 6px;
    background-color: white;
    padding-bottom: 10px;
    padding-right: 14px;
}

.add_recipe_main_window {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 6px;
    background-color: white;
    padding-bottom: 10px;
    padding-right: 14px;
}

.add_recipe_frame {
    background-color: #f1f1f1;
    padding-bottom: 25px;
}

.step_card {
    --bs-card-border-color: none;
}

.name_recipe {
    font: 50px/50px Roboto,sans-serif;
    font-weight: 900;
    text-align: center;
}

.little_thing {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: left;
    margin: 65px auto 25px;
}

.span_little_thing {
    color: black;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 11px;
    line-height: 20px;
    padding-right: 30px;
    font-family: cursive, Georgia;
}

.block_little_thing {
    width: 300px;
}

.icon {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    padding: 0px;
}
