{% extends 'index.html' %}

{% block content %}
    <div class="add_recipe_main_window">
        <div class="ms-3">
            <h3>Ваш рецепт:</h3>
        </div>
        <div class="ms-3">
            <form class="form-floating" action="{{ url_for('add_recipe') }}" method="post">
                <div>
                    <div class="col-md-4 mb-3">
                        <input required class="form-control" type="text" name="name_recipe" placeholder="Название рецепта">
                    </div>
                    <span>Кол-во порций</span>
                    <div class="div_number_of_serving input-group mb-3 col-1">
                        <input readonly class="input_number_of_serving form-control" min='0' type="number" value="1" step="1" name="number_of_serving">
                        <button class="button_del_serving btn btn-outline-secondary" type="button"> - </button>
                        <button class="button_add_serving btn btn-outline-secondary" type="button"> + </button>
                    </div>
                    <div class="row g-3">
                        <h4>Время готовки</h4>
                        <div class="col-1">
                            <p>час(ов)</p>
                            <input class="form-control" min='0' max="24" type="number" value="0" step="1" name="cooking_hour">
                        </div>
                        <div class="col-1">
                            <p>минут</p>
                            <input class="form-control" min='1' max="59" type="number" value="0" step="1" name="cooking_minute">
                        </div>
                    </div>
                    <div class="mb-3 col-4">
                        <label>Дополнение</label>
                        <textarea class="form-control" type="text" name="addition"></textarea>
                    </div>
                    <div class="div_type col-2 mb-3">
                        <label>Категория блюда</label>
                        <select id="type_recipe" class="form-control" name="type_recipe">
                            <option value="Завтрак">Завтрак</option>
                            <option value="Основное блюдо">Основное блюдо</option>
                            <option value="Закуска">Закуска</option>
                            <option value="Бульон">Бульон</option>
                            <option value="Напиток">Напиток</option>
                            <option value="Салат">Салат</option>
                            <option value="Соус и маринад">Соус и маринад</option>
                            <option value="Суп">Суп</option>
                            <option value="Сэндвич">Сэндвич</option>
                            <option value="Выпечка и десерты">Выпечка и десерты</option>
                            <option value="Заготовки">Заготовки</option>
                            <option value="Паста и пицца">Паста и пицца</option>
                        </select>
                    </div>
                    <div>
                        <label>Свой тип</label>
                        <input class="inactive_checkbox" id="type_checkbox" type="checkbox">
                    </div>
                </div>

                <div class="h4 mb-4 text-danger border-bottom border-secondary position-absolute start-50 translate-middle" style="width: 97%;"></div>

                <div class="block_ingredient_to_add mt-5 mb-3">
                    <h4>Ингредиенты</h4>
                    <div class="ingredient row g-3">
                        <div class="col">
                            <label>Название ингредиента</label>
                            <input required class="input_name_ingredient form-control" type="text" name="name_ingredient[]">
                        </div>
                        <div class="col">
                            <label>Кол-во</label>
                            <input value="1" class="input_quantity_ingredient form-control" min='0' type="number" name="quantity_ingredient[]">
                        </div>
                        <div class="col">
                            <label>Ед. измерения</label>
                            <select class="select_measure_unit form-control" name="measure_unit[]">
                                <option value="pcs">pcs</option>
                                <option value="g">g</option>
                                <option value="kg">kg</option>
                                <option value="ml">ml</option>
                                <option value="liter(s)">liter(s)</option>
                                <option value="tbsp">tbsp</option>
                                <option value="glass">glass</option>
                                <option value="tsp">tsp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-primary button_add_ingredient">
                        Добавить ингредиент
                    </button>
                </div>

                <div class="h4 pb-2 mb-4 text-danger border-bottom border-secondary position-absolute start-50 translate-middle" style="width: 97%;"></div>

                <div class="block_step_to_add mb-5 mt-5">
                    <h4>Пошаговая инструкция</h4>
                    <div class="step row g-3">
                        <div class=step_div>
                            <span class="step_span">Шаг 1</span>
                        </div>
                        <div class="mb-3 col">
                            <label>Картинка</label>
                            <input class="form-control" type="file" accept="image/*" name="image_step[]">
                        </div>
                        <div class="col">
                            <label>Текст</label>
                            <textarea class="form-control" type="text" name="text_step[]"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-primary button_add_step">
                        Добавить шаг
                    </button>
                </div>
                <button class="mt-3 btn btn-success" type="submit">Отправить на проверку</button>
            </form>
        </div>
    </div>
        <script type="text/javascript">
            $(document).ready(function() {
                var count = 1;

                $('.button_add_step').click(function(e) {
                    e.preventDefault();
                    count++;
                    $('.block_step_to_add').append('                <div class="step row g-3">\n' +
            '                    <div class=step_div>' +
            '                        <span class="step_span" >Шаг ' + count + '</span>' +
            '                    </div>' +
            '                    <div class="mb-3 col">\n' +
            '                        <label>Картинка</label>\n' +
            '                        <input class="form-control" type="file" accept="image/*" name="image_step[]">\n' +
            '                    </div>\n' +
            '                    <div class="col">\n' +
            '                        <label>Текст</label>\n' +
            '                        <textarea class="form-control" type="text" name="text_step[]"></textarea>\n' +
            '                    </div>\n' +
            '                    <div class="col-3">\n' +
            '                        <button type="button" class="remove_step_button btn btn-dark">Удалить</button>\n' +
            '                    </div>\n' +
            '                </div>');
                });

                $('.block_step_to_add').on('click', '.remove_step_button', function (e) {
                    e.preventDefault();
                    count--;
                    $(this).parent('div').parent('div').remove();
                    for (var i = 0; i < count; i++) {
                        var j = i+1
                        $('.step_span').eq(i).text('Step ' + j)
                    }
                });

                $('.button_add_serving').click(function() {
                    var value = $('.input_number_of_serving').val();
                    value++;
                    $('.input_number_of_serving').val(value);
                });

                $('.button_del_serving').click(function() {
                    var value = $('.input_number_of_serving').val();
                    if (value > 1) {
                        value--;
                        $('.input_number_of_serving').val(value);
                    }
                });

                $('.button_add_ingredient').click(function(e){
                    e.preventDefault();
                    $('.block_ingredient_to_add').append('<div class="ingredient row g-3">\n' +
        '                    <div class="col">\n' +
        '                        <label>Название ингредиента</label>\n' +
        '                        <input required class="input_name_ingredient form-control" type="text" name="name_ingredient[]">\n' +
        '                    </div>\n' +
        '                    <div class="col">\n' +
        '                        <label>Кол-во</label>\n' +
        '                        <input  class="input_quantity_ingredient form-control" value="1" min=\'0\' type="number" name="quantity_ingredient[]">\n' +
        '                    </div>\n' +
        '                    <div class="col">\n' +
        '                        <label>Ед. измерения</label>\n' +
        '                        <select  class="select_measure_unit form-control" name="measure_unit[]">\n' +
        '                            <option value="pcs">pcs</option>\n' +
        '                            <option value="g">g</option>\n' +
        '                            <option value="kg">kg</option>\n' +
        '                            <option value="ml">ml</option>\n' +
        '                            <option value="liter(s)">liter(s)</option>\n' +
        '                            <option value="tbsp">tbsp</option>\n' +
        '                            <option value="glass">glass</option>\n' +
        '                            <option value="tsp">tsp</option>\n' +
        '                        </select>\n' +
        '                    </div>\n' +
        '                        <button type="button" class="remove_ingredient_button btn btn-dark">Удалить</button>\n' +
        '                </div>')
                });

                $('#type_checkbox').click(function(){
                    if ($(this).hasClass('inactive_checkbox')){
                    $('.div_type').append('<div>' +
        '                   <input required class="input_own_type form-control" type="text" name="own_type_recipe">' +
        '                </div>');
                    $('#type_recipe').attr('disabled', '');
                    $(this).toggleClass('active_checkbox inactive_checkbox');
                    }
                    else {
                        $('.input_own_type').remove();
                    $('#type_recipe').removeAttr('disabled');
                    $(this).toggleClass('inactive_checkbox active_checkbox');
                    }
                });

                $('.block_ingredient_to_add').on('click', '.remove_ingredient_button', function (e){
                    e.preventDefault();
                    $(this).parent('div').remove();
                });

                //$('.input_name_ingredient').on('input keyup', function(){
                //    $('.input_quantity_ingredient').removeAttr('disabled');
                //    $('.select_measure_unit').removeAttr('disabled');
                //});


                //СДЕЛАТЬ ПРОВЕРКУ ОДИНАКОВОГО ЧИСЛА ИНГРЕДИЕНТОВ НА JQUERY

            });
        </script>

{% endblock %}